<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="/images/logo.ico">
    <title>新广货运联盟-登录页面</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
<body>
<div class="login-container">
    <h1>会员登录</h1>
    <form action="/user/login" method="post" id="loginForm">
        <div>
            <input type="text" name="username" th:value="${username}" class="phone_number" placeholder="输入手机号码"
                   autocomplete="off"
                   id="number"/>
            <span style="color: red">[[${param.user_error}]]</span>
        </div>
        <div>
            <input type="password" name="password" th:value="${password}" class="password" placeholder="密码"
                   oncontextmenu="return false"
                   onpaste="return false"/>
        </div>
        <div>
            <input type="text" name="vcode" placeholder="请输入验证码" class="vcode">
            <!--<img src="/images/code1.png" style="float:right; display:inline-block; margin-top:28px;">-->
            <a href="javascript:void(0);" title="点击更换验证码">
                <img id="imgVerify" src="" alt="更换验证码"
                     style="width: 100%;height: 50px;float:right; display:inline-block; margin-top:30px;"
                     onclick="refreshCode(this);">
            </a>
            <span style="color: red">[[${param.vcode_error}]]</span>
        </div>
        <button id="submit" type="submit">登 陆</button>
        <button type="reset" style="background:#F0AD4E;">重 置</button>
        <a href=""><img src="/images/Connect_logo_5.png"/></a>

    </form>
    <a href="/register.html">
        <button type="button" class="register-tis">还没有账号？</button>
    </a>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/common.js"></script>
<!--背景图片自动更换-->
<script src="/js/supersized.3.2.7.min.js"></script>
<script src="/js/supersized-init.js"></script>
<!--表单验证-->
<script src="/js/jquery.validate.min.js?var1.14.0"></script>
<script type="text/javascript">

    $(function () {
        var obj = document.getElementById("imgVerify");
        refreshCode(obj);
    })

    //验证码刷新
    function refreshCode(obj) {
        obj.src = "/user/getVerify?" + Math.random();
    }

</script>
</body>
</html>