<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lichunliang.huoyunwuliu.mapper.CarInformationMapper">

    <resultMap id="car_all" type="com.lichunliang.huoyunwuliu.pojo.CarInformation">
        <id property="id" column="id"></id>
        <result property="orderId" column="order_id"></result>
        <result property="shipperName" column="shipper_name"></result>
        <result property="departureCity" column="departure_city"></result>
        <result property="reachingCity" column="reaching_city"></result>
        <result property="weightOrVolume" column="weight_or_volume"></result>
        <result property="deliveryCall" column="delivery_call"></result>
        <result property="deliveryTime" column="delivery_time"></result>
        <result property="vehicleType.id" column="vehicle_type_id"></result>
        <result property="vehicleType.vehicleTypeName" column="vehicle_type_name"></result>
        <result property="vehicleVolume.id" column="vehicle_volume_id"></result>
        <result property="vehicleVolume.vehicleVolumeName" column="vehicle_volume_name"></result>
        <result property="vehicleLength.id" column="vehicle_length_id"></result>
        <result property="vehicleLength.vehicleLengthName" column="vehicle_length_name"></result>
        <result property="user.id" column="user_id"></result>
        <result property="user.relName" column="rel_name"></result>
        <result property="user.username" column="username"></result>
        <result property="status" column="status"></result>
    </resultMap>

    <insert id="insertCarInformation">
        insert into car_information (order_id,shipper_name,departure_city,reaching_city,weight_or_volume,vehicle_type_id
        ,vehicle_volume_id,vehicle_length_id,delivery_call,delivery_time,user_id,status)
        values(#{orderId},#{shipperName},#{departureCity},#{reachingCity},#{weightOrVolume},#{vehicleType.id},
        #{vehicleVolume.id},#{vehicleLength.id},#{deliveryCall},#{deliveryTime},#{user.id},#{status})
    </insert>
    <update id="updateCarInformationByIdAndUserId">

        update car_information set status=#{status},delivery_time=#{date} where id=#{id} and user_id=#{userId}

    </update>
    <delete id="deleteCarInformationByIdAndUserId">
        delete from car_information where id=#{id} and user_id=#{userId}
    </delete>
    <select id="selectCatInformationListByUserId" resultMap="car_all">
        <include refid="all_car"></include>
        <where>
            ci.status = 1
            <if test="userId!=null and userId!=0">
                and ci.user_id = #{userId}
            </if>
            <if test="departureCity!=null and departureCity!=''">
                and ci.departure_city like concat('%',#{departureCity},'%')
            </if>
            <if test="reachingCity!=null and reachingCity!=''">
                and ci.reaching_city like concat('%',#{reachingCity},'%')
            </if>
            <if test="vehicleTypeId!=null and vehicleTypeId!=0">
                and ci.vehicle_type_id = #{vehicleTypeId}
            </if>
            <if test="vehicleLengthId!=null and vehicleLengthId!=0">
                and ci.vehicle_length_id = #{vehicleLengthId}
            </if>
        </where>
        order by delivery_time desc
    </select>
    <sql id="all_car">
        select ci.id, ci.shipper_name, ci.departure_city, ci.reaching_city, ci.weight_or_volume,
        ci.vehicle_type_id, ci.vehicle_volume_id, ci.vehicle_length_id, ci.delivery_call,
        ci.delivery_time, ci.user_id,ci.order_id,ci.status,
        u.rel_name,u.username,
        vt.vehicle_type_name,
        vv.vehicle_volume_name,
        vl.vehicle_length_name
        from car_information ci
        inner join user u on ci.user_id = u.id
        inner join vehicle_type vt on ci.vehicle_type_id = vt.id
        inner join vehicle_volume vv on ci.vehicle_volume_id = vv.id
        inner join vehicle_length vl on ci.vehicle_length_id = vl.id
    </sql>
</mapper>