<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lichunliang.huoyunwuliu.mapper.VehicleLengthMapper">
    <select id="selectVehicleLengthList" resultType="com.lichunliang.huoyunwuliu.pojo.VehicleLength">
        select id, vehicle_length_name from vehicle_length
    </select>
</mapper>